.main-content{
    text-align: center;
}
.gear{
    position: fixed;
    font-size:large;
    top: 10px;
    left: 20px;
}
.dot{
    position: fixed;
    top: 10px;
    color: rgb(25, 202, 25);
    right: 145px;
}
.clock{
    position: fixed;
    top: 7px;
    right: 60px;
}
.onl{
    position: fixed;
    top: 10px;
    right: 95px;
}
.sep{
    position: fixed;
    top: 10px;
    right: 85px;
}
.latency{
    position: fixed;
    top: 10px;
    right: 30px;
}
#para{
    color: rgb(130, 130, 130);
}
#B{
    color: rgb(172, 44, 72);
}
#I{
    color: black;
}
#search-input{
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.search-icon{
    position: relative;
    left: 35px;
}
