h1{
    color:cadetblue;  /* styling for all h1 tags */
}

#Heading2{
    color:blueviolet; /* styling a particular id based text */
}

.heading{
    color:chocolate; /* styling a group of texts of same id */
}

.para{
    border: 2px;                /* styling a paragraph using class */
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

.navbar{
    border: 3px;
    border-style: solid;
    padding: 10px;
    border-color: black;
    text-align: center;
    background-color:rgb(25, 133, 25);
}
.navbar a{
    color:bisque;
    padding: 10px;              /* styling only the "a" part */
    text-decoration: none;
}

.navbar a:hover{            /* hover used to show the diff btw selected and unselected*/
    color:blue;
    background-color:darkseagreen;

}

body{
    margin: 0px; /* removes the top space */
}

.card{
    border: 3px solid black;
    width: 500px;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
}
.card img{
    width: 100%;
}